.b1{
    background: aqua;
    display: flex;
    justify-content: center;
    gap: 177px;
}
.b2{
    color:white ;
    margin-top: 100px;
}
.b3{
    color:white ;
}
.b4{
    background: red;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: aliceblue;
}
.b6{
    background: aqua;
    height: 250px;
}
.b7{
    color: aliceblue;
    text-align: center;
    padding-top: 40px;
}
.b9{
    width: 194px;
    height: 42px;
    background: white;
    border-color: aliceblue;
    margin-top: 50px;
}
.b10{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.b11{
    background: black;
    height: 97px;
    display: flex;
}
.b12{
    margin-left: 170px;
    margin-top: 24px;
    width: 185px;
    height: 50px;
}
.b13{
        margin-top: 24px;
    display: flex;
    color: white;
    margin-left: 420px;
    gap: 32px;
}